.container>div {
    height: 20px;
    width: 170px;
    margin: 10px 10px 10px 0;
    padding: 1px;
  }
  
  .gray {
    background-color: gray;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  